<div class="show">
  <h3>Discipline:</h3>
  <p><%= @event.discipline() %></p>
  <h3>Date:</h3>
  <p><%= @event.event_date() %></p>
  <h3>Gold Medal</h3>
  <p><% if @event.nation_won_gold_medal == nil %> 
    <%= "No gold medal inserted yet"  %>
    <% else %>
    <%=  @event.nation_won_gold_medal.name %>
    <% end %></p>
    <h3>Silver Medal</h3>
    <p><% if @event.nation_won_silver_medal == nil %> 
      <%= "No silver medal inserted yet"  %>
      <% else %>
      <%=  @event.nation_won_silver_medal.name %>
      <% end %></p>
      <h3>Bronze Medal</h3>
      <p><% if @event.nation_won_bronze_medal == nil %> 
        <%= "No bronze medal inserted yet"  %>
        <% else %>
        <%=  @event.nation_won_bronze_medal.name %>
        <% end %></p>

        <div class="buttons">
          <form action="/event/<%= @event.id %>/delete" method="post">
            <input type="submit" value="Delete" > </form>
            <a href="/event/<%= @event.id %>/edit"> <button>Edit</button> </a>
        </div>
</div>