<div class="show">

<h3><%= @nation.name %></h3>

<h3>Athletes:</h3>
<% @nation.athletes.each do |athlete|  %>
<p><%= athlete.name  %> <%= athlete.last_name  %></p>
<% end %>

<h3>Medals:</h3>
 <% @nation.gold_medals_won_by_nation.each do |medal|  %> 
 <p>Gold medal: <%=  medal.event.discipline %></p>
 <% end %>
 <% @nation.silver_medals_won_by_nation.each do |medal|  %> 
 <p>Silver medals: <%=  medal.event.discipline %></p>
 <% end %>
 <% @nation.bronze_medals_won_by_nation.each do |medal|  %> 
 <p>Bronze medal: <%=  medal.event.discipline %></p>
 <% end %>

<div>
  <form action="/nation/<%= @nation.id %>/delete" method="post">
    <input type="submit" value="Delete" > </form></div>

</div>