<div class="contestual">
  <a href="/athlete/new">Add new athlete</a><br>
</div> 

<div class="list">
<h1 class="title"> List of Athletes</h1>
  <% @athletes.each do |athlete| %>
    <a href="/athlete/<%= athlete.id %>"> <%= athlete.name %> <%= athlete.last_name  %>; <%= athlete.nation.name  %>  ; <% athlete.events_attended.each do |event| %> 
    <%= event.discipline %> <% end %> </a> <br> 
<% end %>
</div>
