
<div class="insert">
  <h1 class="title">Add an event and a medal to <%= @athlete.name  %> <%= @athlete.last_name %></h1>

  <div class = "add">
    <form action="/medal" method="post">
      <input type="hidden" name = "athlete_id" value ="<%= @athlete.id %>" readonly></input>
      <select name = "event_id">
        <% @events.each do |event| %>
        <option value = "<%= event.id%>">
          <%= event.discipline%></option>
          <%end%>
        </select>
        <select name = "medals_type">
          <option value = "gold"> Gold </option>
          <option value = "silver"> Silver </option>
          <option value = "bronze"> Bronze </option>
          <option value = "no"> No Medal </option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
